% -*- mode: erlang -*-

{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {wireblocks, "0.0.1"},
	 [wireblocks]},
	{dev_mode, true},
	{include_erts, true},

	{extended_start_script, true}]}.

{lager, [
	 {log_root, "/tmp/log/wireblocks"},
	 {handlers, [
		     {lager_console_backend, [{level, info}]},
		     {lager_file_backend, [{file, "error.log"}, {level, error}]},
		     {lager_file_backend, [{file, "console.log"}, {level, info}]}
		    ]}
	]}.
